/*html*/

html{
    background-color: #f5efff;
    color: black;
    text-align: center;
}
/*body*/

body {
  display: grid;
    
  /* Breite der drei Spalten */
  
  grid-template-columns: 20% 60% 20%; 
  
  /* Höhe der drei Zeilen*/
  
  grid-template-rows: 100px 1fr 100px;
  
  /* Alias für die Zellen */
  
  grid-template-areas:
  
         "header header header"
  
         "navigation main sidebar"
  
         "footer footer footer";
    font-size: 14px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;;
    }

    /*h#*/
    
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        color: black;
    }

    h2{
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
    }

    h3{
      text-align: center;
      text-decoration: underline;
    }
    
    hr {
      width: 100%;
    }

    /*header*/

    header{
        grid-area: header;
    }

    /*nav*/
      
    nav {
        overflow: hidden;
        background-color: #7371fc;
        color: black;
        grid-area: navigation;
        text-decoration: none;
        text-align: center;
        text-decoration: none;
        position: relative;
        max-width: 200px;
        max-height: 127px;
      }
      
      
      nav a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      
      nav a:hover {
        background-color: white;
        color: #7371fc;
        text-decoration: underline;
      }

      nav a.active {
        background-color: black;
        color: white;
        font-weight: bold;
        text-decoration: none;
      }

      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #7371fc;
      }      

    /*main*/
    
    main{
        grid-area: main;
    }

    main a {
      display: block;
      color: #7371fc;
      padding: 8px 16px;
      text-decoration: none;
    }

    main a:hover {
      color: black;
      text-decoration: underline;
    }

    ul {
      list-style: none;
    }

    /*sidebar*/
    
    aside img {
      max-width: 350px;
    }

    aside{
        grid-area: sidebar;
        text-align: center;
    }

    /*footer*/

    footer{
        grid-area: footer;
        text-align: right;
        font-weight: bold;
    }

    .socialimg img {
        width: 100px;
        height: 100px;
        float: left;
        border-radius: 100%;
        margin: 10px 10px 10px 10px;
    }

    form {
      text-align: center;
    }
    
    /*figure*/

    figure {
      text-align: center;
    }

    figcaption {
      display: inline-block;
      text-align: center;
    }

    /*slideshow*/

    /* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}


.slideshow-container img {
width: 800px;
height: 400px;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.myself img{
    width: 150px;
    height: 300px;
    align-items: center;
}

    /*responsive design*/

    @media screen and (max-width: 1800px) {
      body {
        display: grid;
    
       /* Breite der drei Spalten */
  
      grid-template-columns: 20% 60% 20%; 
  
     /* Höhe der drei Zeilen*/
  
     grid-template-rows: 100px 1fr 100px;

      /* Alias für die Zellen */
  
     grid-template-areas:
  
         "header header header"
  
         "navigation main sidebar"
  
         "footer footer footer";
      }
      img {
        width: 200px;
        height: auto;
      }

      .slideshow-container img {
        max-height: 300px;
        max-width: 600px;
      }
    }


    @media screen and (max-width: 1200px) {
      body {
        display: grid;
    
        /* Breite der zwei Spalten */
        
        grid-template-columns: 30% 70%; 
        
        /* Höhe der drei Zeilen*/
        
        grid-template-rows: 100px 1fr 0.5fr 100px;
        
        /* Alias für die Zellen */
        
        grid-template-areas:

               "header header"
               "navigation main"
               "sidebar sidebar"
               "footer footer";
      }
      img {
        width: auto;
        height: auto;
      }

      .slideshow-container img {
        max-height: 300px;
        max-width: 500px;
      }
    }

    @media screen and (max-width: 900px) {
      body {
        display: grid;
    
        /* Breite der zwei Spalten */
        
        grid-template-columns: 30% 70%; 
        
        /* Höhe der drei Zeilen*/
        
        grid-template-rows: 100px 1fr 0.5fr 100px;
        
        /* Alias für die Zellen */
        
        grid-template-areas:

               "header header"
               "navigation main"
               "sidebar sidebar"
               "footer footer";
      }
      img {
        width: auto;
        height: auto;
      }

      .slideshow-container img {
        width: auto;
        height: auto;
        max-width: 450px;
      }

    }

    @media screen and (max-width: 600px) {
      body {
        display: grid;
    
        /* Breite der drei Spalten */
        
        grid-template-columns: 100%; 
        
        /* Höhe der drei Zeilen*/
        
        grid-template-rows: 100px 150px 1fr 0.5fr 100px;
        
        /* Alias für die Zellen */
        
        grid-template-areas:

               "header"
               "navigation"
               "main"
               "sidebar"
               "footer";
      }
      img {
        width: 300px;
        height: 150px;
      }

      .slideshow-container img {
        width: 400px;
        height: 200px;
      }

    }